.parentContainer{
    width: 35%;
    margin: 0 auto;
}
.box1{
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: white;
    width: 100%;
    margin: 40px 0 15px 0;
    border-radius: 2px;
    border-width: 1px;
}
.text1{
    font-size: 40px;
    font-family: 'Work sans';
    color: black;
}
.box2{
    background-color: white;
    width: 100%;
    padding: 4px;
    border-radius: 2px;
    border-width: 1px;
}